@import 'core/variables';
@import 'core/reset';
@import 'layout/header';
@import 'layout/form';
@import 'layout/mainSection';
@import 'layout/footer';

@font-face {
    font-family: 'Dancing';
    src: url('../fonts/DancingScript-VariableFont_wght.ttf');
  }
  :root {
    font-family: Dancing;
  }
